body {
    background-color: beige;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.title {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: center;
    width: 40%;
}
.topnav {
    display: flex;
    justify-content: space-between;
    height: 10%;
}